body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: -40px 20px 0 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    padding: 100px 20px;
    background-color: #eee;
    font-size: 24px;
    font-weight: bold;
}

#about, #experience, #projects, #contact {
    padding: 50px 20px;
    background-color: white;
}

.experience-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.experience-item {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}
.project-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-item {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

#contact {
    background-color: #222;
    color: white;
    padding: 40px 20px;
}

.social-icons a img {
    width: 30px;
    margin: 10px;
    filter: invert(1);
}
